@model IEnumerable<AppBradyReq.Models.ClienteModel>

@{
    ViewBag.Title = "Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Clientes</h2>


<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Tsop_Ordbilgruclinom)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.Tsop_Ordbilgruclinom)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.Tsop_Clisapclicod */ }) |

        </td>
    </tr>
}

</table>
